# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

packwiz
kubejs/config/probejs.json
kubejs/jsconfig.json
kubejs/README.txt

.vscode
packlist.py
